/e2e-server-test/vendor/
/e2e-server-test/.env
/e2e-server-test/OmegaUnitTest.key
/e2e-server-test/OmegaUnitTest.pub
.cloudlinux
.idea/blade.xml
.idea/deployment.xml
.idea/laravel-idea.xml
.idea/modules.xml
.idea/PanelOmega.iml
.idea/php.xml
.idea/phpunit.xml
.idea/sshConfigs.xml
.idea/vcs.xml
.idea/webServers.xml
